.card{
    margin-top: 10vh;
    background-color: var(--color-secondary);
}

.row:hover{
    background-color: var(--color-tertiary);
}

.mat-cell{
    padding: 10px;
}

h2{
    font-size: 1.5rem;
}

.mat-row{
    text-overflow: clip ellipsis;
    direction: ltr;
}

td{
    max-width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.delete{
    transform: scale(0.8);
}

.error{
    border-radius: 2rem;
}

.error:hover{
    background-color: #961348;
}

#error-title{
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--pink-color);
}

#error-title span{
    font-size: 3.4rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.2rem;
}

.search{
    margin-bottom: 1rem;
    outline: none;
    background-color: inherit;
    border: 1px solid var(--pink-color);
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem;
}

#search-btn{
    margin-bottom: 1rem;
    transform: scale(0.6);
}

h2 span{
    font-size: 2.05rem;
    font-weight: bold;
    color: var(--pink-color);
}