<div fxLayout="row" fxLayoutAlign="center center" fxFlex="60" fxFlexOffset="20">
    <mat-card class="card">
        <h2>Lista de Usuários cadastrados</h2>
        <table>
            <thead>
                <tr >
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>CPF</th>
                    <th>Tel</th>
                    <th>Acesso</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersLister"  >
                    <th>{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.tel}}</td>
                    <td>{{user.cpf}}</td>
                    <td>{{user.acess}}</td>
                    <td>{{user.active}}</td>
                    <td><button mat-raised-button color="primary"[routerLink]="['/edit']" ><mat-icon>create</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>
