.header{
    color: var(--color-primary);
    padding: 1rem;
    background-color: var(--color-tertiary);
    box-shadow: 0px 0px 10px var(--pink-color);
}
.title{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}
.header-icon{
    color: var(--pink-color);
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}