<div class="header" fxLayout="row wrap" fxLayoutAlign="end center">
    <ul class="pointer" fxLayout="row" fxLayoutGap="20px">
        <li [routerLink]="['/users']">
            <button mat-fab fxLayoutAlign="center center" alt="Usuários cadastrados">
                <mat-icon>people</mat-icon>
            </button>
        </li>
        <li [routerLink]="['sign']">
            <button mat-fab fxLayoutAlign="center center">
                <mat-icon >person_add</mat-icon>
            </button>
        </li>
    </ul>
</div>
