.header{
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 10px var(--pink-color);
}
.mat-icon{
    color: var(--color-primary);
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}
.mat-icon:hover{
    color: var(--pink-color);
}
ul{
    text-decoration: none;
    list-style: none;
    padding-right: 2rem;
}