<form class="login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()"> 
  <div class="inputs" fxLayout="row wrap" fxLayoutGap="5px">
      <mat-form-field class="name-input input" required appearance="fill" fxFlex.xs fxFlex.gt-xs fxFlex.gt-sm="50">
        <mat-label >Nome Completo</mat-label>
        <input matInput placeholder="Ex. Fernando." autocomplete="off" formControlName="name">
        <mat-error class="text-danger" *ngIf="(profileFormControl.name.touched || submitted) && profileFormControl.name.errors?.required">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="email-input input" required appearance="fill" type="email" fxFlex>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. name@example.com" type="email" autocomplete="off" formControlName="email">
          <mat-error class="text-danger" *ngIf="(profileFormControl.email.touched || submitted) && profileFormControl.email.errors?.required">
            Email é <strong>obrigatório</strong>
          </mat-error>
          <mat-error class="text-danger" *ngIf="(profileFormControl.email.touched || submitted) && profileFormControl.email.errors?.email">
            Insira um email <strong>válido</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="password-input input" required appearance="fill" fxFlex>
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Utilize uma senha forte." [type]="hide ? 'password':'text'" formControlName="password">
          <i class="material-icons pointer" matSuffix (click)="hide = !hide"> {{hide ? 'visibility':'visibility_off'}} </i>
          <mat-error class="text-danger" *ngIf="(profileFormControl.password.touched || submitted) && profileFormControl.password.errors?.required">
            Insira uma <strong>senha</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="confirm-password-input input" required appearance="fill" fxFlex>
          <mat-label>Confirme a Senha</mat-label>
          <input matInput [type]="hide ? 'password':'text'" formControlName="confirmPassword">
          <i class="material-icons pointer" matSuffix (click)="hide = !hide"> {{hide ? 'visibility':'visibility_off'}} </i>
          <mat-error class="text-danger" *ngIf="(profileFormControl.confirmPassword.touched || submitted) && profileFormControl.confirmPassword.errors?.required">
            Confirme sua <strong>senha</strong>
          </mat-error>
          <mat-error class="text-danger" *ngIf="(profileFormControl.confirmPassword.touched || profileFormControl.confirmPassword.errors?.passwordMismatch)">
            As senhas <strong>não coincidem</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="phone-input input" required appearance="fill" fxFlex="33" fxFlex.xs fxFlex.gt-xs>
          <mat-label>Telefone</mat-label>
          <input  matInput  mask="(00) 0000-0000" placeholder="(__) ____ -_____" type="tel" autocomplete="off" formControlName="tel" value="">
          <mat-error class="text-danger" *ngIf="(profileFormControl.tel.touched || submitted) && profileFormControl.tel.errors?.required">
            Insira um <strong>telefone</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="cpf-input input" required appearance="fill" fxFlex= fxFlex.xs fxFlex.gt-xs>
          <mat-label>CPF</mat-label>
          <input  matInput mask="000.000.000-00" placeholder="___ . ___ . ___ - __"  type="tel" autocomplete="off" formControlName="cpf">
          <mat-error class="text-danger" *ngIf="(profileFormControl.cpf.touched || submitted) && profileFormControl.cpf.errors?.required">
            CPF é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-radio-group  class="acess-level" aria-label="Nível de Acesso" fxLayout="row" formControlName="acess" fxFlex fxLayoutAlign="space-around center" fxFlex.xs fxFlex.gt-xs="66" fxFlex.gt-sm="66">
          <mat-label class="level-label" >Nível de Acesso</mat-label>
          <div class="radios">                
              <mat-radio-button class="level-radio" value="1">Nvl 1</mat-radio-button>
              <mat-radio-button class="level-radio" value="2">Nvl 2</mat-radio-button>
              <mat-radio-button class="level-radio" value="3">Nvl 3</mat-radio-button>
              <mat-radio-button class="level-radio" value="4">Nvl 4</mat-radio-button>
              <mat-radio-button class="level-radio" value="5">Nvl 5</mat-radio-button>
              <mat-error class="text-danger" *ngIf="(profileFormControl.acess.touched || submitted) && profileFormControl.acess.errors?.required">
                Selecione o <strong>Nível de Acesso</strong>
              </mat-error>
          </div>
          </mat-radio-group>
          <br>
          <mat-form-field class="active-input input" appearance="fill" fxFlex fxFlex.xs fxFlex.gt-xs>
            <mat-label>Ativo</mat-label>
            <mat-select matNativeControl required formControlName="active">
              <mat-option value="sim">Sim</mat-option>
              <mat-option value="não">Não</mat-option>
            </mat-select>
            <mat-error class="text-danger" *ngIf="(profileFormControl.active.touched || submitted) && profileFormControl.active.errors?.required">
              Selecione o <strong>Status</strong>
            </mat-error>
          </mat-form-field>
  </div>
    <mat-card-actions fxLayout="row wrap">
        <button mat-stroked-button type="submit" (click)="save()" fxFlex matNativeControl>
          Salvar
        </button>
        
    </mat-card-actions>
  </form>
  
