.input{
    color: var(--color-primary);
}
mat-card-actions{
    color: var(--color-primary);
}
.login-form{
    padding: 0.1rem;
}
.level-radio{
    margin-right: 0.5rem;
}
.submit-btn{
    width: 100%;
    margin-top: 1rem;
    color: var(--pink-color);
}