/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; background-color: #2b2b2b !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --color-primary: #D0D3D9;
    --color-secondary: #83818C;
    --color-tertiary: #4A4C59;
}

.pointer{
    cursor: pointer;
}