/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; background-color: var(--color-tertiary) !important;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: var(--color-primary) !important;
    background-image: url(assets/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

:root{
    --color-primary: #eeeeee;
    --color-secondary: #262626;
    --color-tertiary: #0D0D0D;
    --pink-color: #C2185B;
    --alert-color: #F44336;
}

.pointer{
    cursor: pointer;
}

.loading-dialog .mat-dialog-container{
    background-color: inherit ;
}